.parent {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 22px;
  height: 100vh;
}

.child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 95%;
}

.player-box {
  height: 40%;
  width: 13%;
}

.player-list {
  font-size: large;
  color: #21ba45;
}

.game-box {
  width: 60%;
  height: 100%;
  text-align: center;
}

.message-box {
  height: 50%;
  width: 23%;
}

.room-title {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  color: #6435c9;
  /* border: solid;
  border-radius: 10px; */
  /* border-top: solid;
  border-bottom: solid;
  border-radius: 1px;
  border-width: 1px; */
  width: 13%;
}

.links {
  width: 23%;
}

.top {
  width: 100%;
  height: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #6435c9;
  font-weight: bolder;
}

h2 {
  font-family: 'PT Sans Narrow'
}

/* .icon-spin {
  -webkit-animation: icon-spin 8s infinite linear;
          animation: icon-spin 8s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
} */
